@model IEnumerable<vpee1_MVC__Music.Models.Musician>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div class="row well">
                <div class="form-group col-md-4">
                    <label class="control-label col-md-6">Select by Instrument:</label>
                    <div class="col-md-6">
                        @Html.DropDownList("InstrumentID", null, "Any Instrument", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-7">Search Musician Name:</label>
                    <div class="col-md-5">
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Filter by Song:</label>
                        <div class="col-md-8">
                            @Html.DropDownList("SongID", null, "Any Song", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label col-md-4"> </label>
                        <div class="col-md-8">
                            <input type="submit" name="actionButton" value="Filter" class="btn btn-primary" />
                            <a asp-action="Index"
                               asp-route-sortDirection="@ViewData["sortDirection"]"
                               asp-route-sortField="@ViewData["sortField"]">Clear</a>
                        </div>
                    </div>
                @*</div>*@
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Musician" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Phone" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Age" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Primary Instrument" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Other Instruments" class="btn btn-link" />
                </th>
                <th></th>
            </tr>
        </thead>
      

   
            @*<thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Instrument)
                    </th>
                </tr>
            </thead>*@
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instrument.Name)
                    </td>
                    <td>
                        @{
                            foreach (var inst in item.Plays)
                            {
                                @:  @inst.Instrument.Name <br />
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MusicianID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MusicianID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MusicianID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
</form>
