@model vpee1_MVC__Music.Models.Performance

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Performance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Song.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Musician)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Musician.FirstName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
